<script src="react.development.js"></script>
<script src="babel.js"></script>
<script src="react-dom.development.js"></script>

<div id="root"></div>

<script type="text/babel">
    class SignUp extends React.Component {
        constructor(){
            super();
            this.state = {
                dataObj:{
                    
                }
            }
            this.cbArr = []
            this.fnOnChange = this.fnOnChange.bind(this)
        }
        fnSignup(){
            var o = new XMLHttpRequest()
            o.open('post','http://localhost:2020/std/std-reg')
            o.setRequestHeader("Content-Type","application/json")
            o.send(JSON.stringify(this.state.dataObj))
            o.onload = function(){
                var res = o.responseText
                console.log(res)
            }
            o.onerror = function(){
                var res = o.responseText
                console.log(res)
            }
        }
        fnOnChange(event){
            const {name,value,type,checked} = event.target
            if(type=='checkbox'){
                if(checked){
                    this.cbArr.push(name)
                }else{
                    this.cbArr.splice(this.cbArr.indexOf(name),1)
                }
                this.setState({
                    dataObj:{
                        ...this.state.dataObj,
                        "hobbies" : this.cbArr.join() 
                    } 
                })
            }else{
                this.setState({
                    dataObj:{
                        ...this.state.dataObj,
                        [name] : value 
                    } 
                })
            }
        }
        render(){
            return <div>
                <h1>Sign Up</h1>
                <p><b>Name : </b> <input name="name"  onChange={this.fnOnChange}/> </p>
                <p><b>User Id : </b> <input name="uid" onChange={this.fnOnChange} /> </p>
                <p><b>Password : </b> <input type="password" name="pwd" onChange={this.fnOnChange} /> </p>
                <p><b>Gender : </b> 
                    <input type="radio" name="gender" name="gender" onChange={this.fnOnChange} value="M"/> Male
                    <input type="radio" name="gender" name="gender" onChange={this.fnOnChange} value="F"/> Female
                </p>
                <p>
                    <b>Hobbies : </b>
                    <input type="checkbox" name="cri" onChange={this.fnOnChange} value="cricket"/>Cricket
                    <input type="checkbox" name="fb" onChange={this.fnOnChange} value="football"/>Football
                    <input type="checkbox" name="che" onChange={this.fnOnChange} value="chess"/>Chess
                </p>
                <p>
                    <b>Country : </b>
                    <select name="country" onChange={this.fnOnChange}>
                        <option>India</option>
                        <option>US</option>
                        <option>China</option>
                    </select>
                </p>
                <p>
                    <b>Address</b>
                    <textarea name="address" onChange={this.fnOnChange}></textarea>
                </p>
                <p>
                    <button onClick={this.fnSignup.bind(this)}>Sign Up</button>
                </p>
            </div>
        }
    }
    ReactDOM.render(<SignUp/>,document.getElementById("root"))
</script>
